@charset "UTF-8";
/*
development by Maya Jyoga
update :2018/01/07

【install fonts】

M+ 1p
森下浩司

Rounded M+ 1c
自家製フォント工房

はんなり明朝 Hannari
中井良尚 Yoshihisa Nakai

こころ明朝 Kokoro
中井良尚 Yoshihisa Nakai

さわらび明朝 Sawarabi Mincho
mishio

さわらびゴシック Sawarabi Gothic
mishio

ニコモジ Nico Moji
Ku-ku (Do-Font)

ニクキュウ Nikukyu
中井良尚 Yoshihisa Nakai

Noto Sans Japanese
西塚涼子 Ryoko Nishizuka


Google Fonts provides an intuitive and robust directory of open source designer web fonts. Google Fonts Early Access is an experimental showcase for fonts that aren’t yet fully supported.
Japanese typeface design and font development presents many interesting challenges, from the time it takes to design thousands and thousands of available characters, to the technical infrastructure required to serve large font files as web fonts. As standards and technology continue to develop, we invite designers and developers to experiment with the Japanese web fonts now available on Google Fonts Early Access.


*/


/*
 * Sawarabi Gothic (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Sawarabi Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.ttf) format('truetype');
}


/*
 * Nikukyu (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Nikukyu';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.ttf) format('truetype');
}


  /*
   * Rounded Mplus 1c (Japanese) https://fonts.google.com/earlyaccess
   */
   
   @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.eot);
    src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.woff) format('woff'),
         url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.ttf) format('truetype');
  }

    /*
   * Nico Moji (Japanese) 
   */

  @font-face {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot);
    src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.ttf) format('truetype');
  }

  /*
* Noto Sans Japanese (japanese Android sys font) 
 */
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 300;
     src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 400;
     src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 500;
     src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 700;
     src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 900;
     src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf) format('opentype');
   }

   /* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTZ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTfy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTfgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzA7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzJ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzPy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzPgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}